.gradle
*.iml
/.idea/*
!/.idea/libraries/shapefilereader_1_0.xml
.DS_Store
/app/.DS_Store
apks/
/app/apks
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
/app/build/
/build/
/local.properties
/captures
/secrets.properties
