.gradle
gradle.properties
*.iml
/.idea/*
.DS_Store
/app/.DS_Store
apks/
/app/apks
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
/app/build/
/build/
/local.properties
/captures