.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/app/.DS_Store
apks/
/app/apks
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
/app/src/main/java/rectangledbmi/com/pittsburghrealtimetracker/hidden/
build/
local.properties