.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/app/.DS_Store
/app/build
/app/apks
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
